{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load tz %}
{% block title %}My blog{% endblock title %}
{% block content %}

    <div class="post-title"><h1> My blog </h1></div>
    {% if tag %}
        <h2>Post tagged with "{{ tag.name }}"</h2>
    {% endif %}
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
        </h2>
        {% timezone "Europe/Moscow" %}

            <p class="date">Published {{ post.publish }} by {{ post.author }}</p>
            {{ post.body|markdown|truncatewords_html:30 }}
            <p class="tags">
                {#            Tags: {{ post.tags.all|join:", " }}#}
                Tags:
                {% for tag in post.tags.all %}

                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                        {{ tag.name }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}

            </p>
        {% endtimezone %}

    {% endfor %}
    {% include "blog/pagination.html" with page=posts %}
    {#    {% include "big_site/pagination.html" with page=page_obj %}#}
{% endblock %}

